@import "tailwindcss";


:root {
  --color-main: oklch(55.3% 0.195 38.402);
  --color-main-light: oklch(68.572% 0.1972 39.638);
  --color-white: #ffffff;
}

 * {
  box-sizing: border-box;
 }

 body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 @layer utilities {

  .border-product{
    border: rgb(218, 217, 217) 0.1px solid;
  }
 }
